%%-*- mode: erlang -*-

{erl_opts, [debug_info]}.
{xref_checks, [undefined_function_calls]}.

{artifacts, ["priv/csv_parser_nif.so"]}.
{port_specs, [{"priv/csv_parser_nif.so", ["c_src/csv_parser_nif.c",
                                          "deps/libcsv/libcsv.c"]}]}.
{provider_hooks, [{post, [{compile, {pc, compile}},
                          {clean, {pc, clean}}
                         ]}]}.
{plugins, [pc]}.
{deps, [{pc, "1.*",
         {git, "git@github.com:blt/port_compiler.git", {tag, "v1.1.0"}}}
       ]}.
{pre_hooks, [
   {compile, "make get-libcsv"}
]}.
