%%-*- mode: erlang -*-

{erl_opts, [debug_info]}.

%% When building as a dependency, deps_dir will be inherited from
%% Makefile.
{deps_dir, "deps"}.

{deps,[
       {libcsv,".*",{git,"git://github.com/martin-torhage/libcsv.git","3.0.3"},
        [raw]}
      ]}.

{port_specs, [{"priv/csv_parser_nif.so", ["c_src/csv_parser_nif.c",
                                          "deps/libcsv/libcsv.c"]}]}.
