%%-*- mode: erlang -*-

{deps,[
       {libcsv,{raw,{git,"git://github.com/martin-torhage/libcsv.git",
                     {tag, "3.0.3"}}}}
      ]}.

{erl_opts, [debug_info]}.
{xref_checks, [undefined_function_calls]}.

{plugins, [{pc,
            {git, "git@github.com:campanja-forks/port_compiler.git",
             {branch, "expand_env_vars"}}},
           {rebar_raw_resource,
            {git, "git://github.com/basho/rebar_raw_resource.git",
             {branch, "master"}}}
          ]}.

{provider_hooks,
 [
  {pre,
   [
    {compile, {pc, compile}},
    {clean, {pc, clean}}
   ]
  }
 ]
}.

{artifacts, ["priv/csv_parser_nif.so"]}.

{port_specs, [{"priv/csv_parser_nif.so",
               ["c_src/csv_parser_nif.c",
                "${REBAR_DEPS_DIR}/libcsv/libcsv.c"]}]}.

{port_env, [{"CFLAGS", "$CFLAGS -I$REBAR_DEPS_DIR"}]}.
